*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  /* 10 px = 1rem */
}

body{
  box-sizing: border-box;
  
  font-weight: 400;
  line-height: 1.7;
}

.header h1{
  font-size: 3.2rem;
  color: #000;
}

.main h2{
  font-size: 2rem;
  color: #000;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}

.main-wrapper{
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.card {
  flex: 0 0 10rem;
  padding: 0 20px;
  height: 50vh; //sementara
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 675px) {
  .main{
    flex-direction: row;
    margin: 20vh auto;
    padding: 0 2rem;
  }
}