/*BASE*/
html{
  font-size: 62.5%;
  box-sizing: border-box;
  /* 10 px = 1rem */
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Sawarabi Mincho', sans-serif;
*/

body{
  font-family: 'Roboto', 'Ubuntu', 'Sawarabi Mincho', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #fff;

  height: 100%;
  min-height: 100vh;
  position: relative;
}

ul,
ol{
  list-style-type: none;
}

a{
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none;
}

.icon{
  width: 2.5rem;
  height: 2.5rem;
}

.inner{
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 2.5rem;
}
/*BASE*/

/*TYPOGRAPHY*/

/*TYPOGRAPHY*/

/*LAYOUT*/
.main-container{
  padding-bottom: 2.5rem;
}

/*HEADER START*/
.header{
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  background:#fff;

  &__site-logo{
    a{
      display: flex;
      align-items: center;
    } 
  }

  &__logo{
    font-size: 2rem;
    font-family: 'ubuntu',sans-serif;
    font-weight: 700;
    line-height: 1.7;
  }

  &__icon{
    fill: orangered;
    margin-right: 2rem;
  }

  &__menu{
    margin: 0 3rem;
    padding: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navbar{
    display: none;

    &.open{
      display: block;
    }
  }
}

#toggleNav{
  background-image: url(../img/icon/SVG/hamburger-solid.svg);
  width: 2rem;
  height: 2rem;
  fill: orangered;
}

.toggle.open{
  display: block;
}
/*HEADER END*/

/*MAIN*/

// SECTION SITE HEADLINE
.site-headline{
  &__heading-primary{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.05em;
    color: #545454;
  }

  &__icon{
    fill: royalblue;
  }
}

// SECTION TILES
.tiles{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-top: 2.5rem;

  &__item{
    flex: 0 0 30%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    margin-bottom: 2.5rem;

    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s ease, transform 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1em;
      border-radius: 4px;
      border-bottom: 0;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      z-index: 3;
    }

    &:hover{
      .tiles__img{
				transform: scale(1.1);
      }

      .tiles__img::before{
        background-color: #333333;
        opacity: 0.35;
      }

      .tiles__img::after{
        opacity: 0;
      }

      .tiles__content{
        max-height: 15em;
				opacity: 1;
      }
    }

    // COLOR BACKGROUND
    &:nth-child(1){
      .tiles__img::before{
        background-color: #f2849e;
      }
    }

    &:nth-child(2){
      .tiles__img::before{
        background-color: #696364;
      }
    }
    
    &:nth-child(3){
      .tiles__img::before{
        background-color: #7bd0c1;
      }
    }

    &:nth-child(4){
      .tiles__img::before{
        background-color: #c75b9b;
      }
    }

    &:nth-child(5){
      .tiles__img::before{
        background-color: #ae85ca;
      }
    }

    &:nth-child(6){
      .tiles__img::before{
        background-color: #8499e7;
      }
    }

    &:nth-child(7){
      .tiles__img::before{
        background-color: #7ecaf6;
      }
    }

    &:nth-child(8){
      .tiles__img::before{
        background-color: #f2849e;
      }
    }

    &:nth-child(9){
      .tiles__img::before{
        background-color: #7ecaf6;
      }
    }
  }
  
  &__img{
    transition: transform 0.5s ease;
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    img{
      width: 100%;
      display: block;
    }

    &::before{
      pointer-events: none;
      transition: background-color 0.5s ease, opacity 0.5s ease;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1.0;
      z-index: 1;
      opacity: 0.8;
    }

    &::after{
      pointer-events: none;
      transition: opacity 0.5s ease;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.25;
      z-index: 2;
    }
  }

  &__ttl{
    margin: 0;
  }

  &__content{
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
  }
}
/*MAIN*/

/*FOOTER START*/
.footer{
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // padding: 1rem;
  // text-align: center;

  font-size: 1.8rem;
  font-family: 'ubuntu', sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #f6f6f6;

  box-shadow: 0 -1px 1px 0 rgba(66, 58, 58, 0.274);
}

/*FOOTER END*/

/*LAYOUT*/


/*MEDIA*/
@media screen and (min-width: 675px) {
  
}
/*MEDIA*/