/*BASE*/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 10 px = 1rem */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Sawarabi Mincho', sans-serif;
*/
body {
  font-family: 'Roboto', 'Ubuntu', 'Sawarabi Mincho', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: #fff;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.inner {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 2.5rem 2.5rem;
}

/*BASE*/
/*TYPOGRAPHY*/
/*TYPOGRAPHY*/
/*LAYOUT*/
/*HEADER START*/
.header {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header__inner {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.header__site-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 2rem;
  font-family: 'ubuntu',sans-serif;
  font-weight: 700;
  line-height: 1.7;
}

.header__icon {
  fill: orangered;
  margin-right: 2rem;
}

.header__menu {
  margin: 0 3rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar {
  display: none;
}

.header__navbar.open {
  display: block;
}

#toggleNav {
  background-image: url(../img/icon/SVG/hamburger-solid.svg);
  width: 2rem;
  height: 2rem;
  fill: orangered;
}

.toggle.open {
  display: block;
}

/*HEADER END*/
/*MAIN*/
.site-headline__heading-primary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #545454;
}

.site-headline__icon {
  fill: royalblue;
}

.tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-top: 2.5rem;
}

.tiles__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  position: relative;
  margin-bottom: 2.5rem;
}

.tiles__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles__item:hover .tiles__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tiles__item:hover .tiles__img::before {
  background-color: #333333;
  opacity: 0.35;
}

.tiles__item:hover .tiles__img::after {
  opacity: 0;
}

.tiles__item:hover .tiles__content {
  max-height: 15em;
  opacity: 1;
}

.tiles__item:nth-child(1) .tiles__img::before {
  background-color: #f2849e;
}

.tiles__item:nth-child(2) .tiles__img::before {
  background-color: #696364;
}

.tiles__item:nth-child(3) .tiles__img::before {
  background-color: #7bd0c1;
}

.tiles__item:nth-child(4) .tiles__img::before {
  background-color: #c75b9b;
}

.tiles__item:nth-child(5) .tiles__img::before {
  background-color: #ae85ca;
}

.tiles__item:nth-child(6) .tiles__img::before {
  background-color: #8499e7;
}

.tiles__item:nth-child(7) .tiles__img::before {
  background-color: #7ecaf6;
}

.tiles__item:nth-child(8) .tiles__img::before {
  background-color: #f2849e;
}

.tiles__item:nth-child(9) .tiles__img::before {
  background-color: #7ecaf6;
}

.tiles__img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  display: block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.tiles__img img {
  width: 100%;
  display: block;
}

.tiles__img::before {
  pointer-events: none;
  -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  z-index: 1;
  opacity: 0.8;
}

.tiles__img::after {
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: 2;
}

.tiles__ttl {
  margin: 0;
}

.tiles__content {
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  max-height: 0;
  line-height: 1.5;
  margin-top: 0.35em;
  opacity: 0;
}

/*MAIN*/
/*FOOTER START*/
.footer {
  font-size: 1.8rem;
  font-family: 'ubuntu', sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(66, 58, 58, 0.274);
          box-shadow: 0 -1px 1px 0 rgba(66, 58, 58, 0.274);
}

/*FOOTER END*/
/*LAYOUT*/
/*MEDIA*/
/*MEDIA*/
/*# sourceMappingURL=style.css.map */