.container{
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}

.main-wrapper{
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.card {
  flex: 0 0 10rem;
  padding: 0 20px;
  height: 50vh; //sementara
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}